/*Proyecto MKIPPES*/
/*RESET GENERAL*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none; }

/*ESTILOS DE TODO EL BODY*/
@media (max-width: 480px) {
  html {
    ont-size: 12px; } }

@media (min-width: 480px) and (max-width: 600px) {
  html {
    font-size: 14px; } }

body {
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  color: #393767;
  width: 100vw; }
  body .header-b {
    background-color: #011C43; }
    body .header-b div nav ul li:hover {
      background-color: #B1CDF0;
      transform: scale(1.05);
      border-radius: 0.5rem; }
    body .header-b div div .barraTop, body .header-b div div .header .barraMenu, body .header .header-b div div .barraMenu {
      display: flex;
      background-color: #B1CDF0;
      justify-content: space-between;
      padding: 0.2rem; }
      body .header-b div div .barraTop img, body .header-b div div .header .barraMenu img, body .header .header-b div div .barraMenu img {
        height: 1.5rem; }
    body .header-b div div .logo {
      height: 5rem; }
  body .header {
    display: flex;
    flex-direction: column;
    width: 100%; }
    body .header .barraTop, body .header .barraMenu {
      display: flex;
      background-color: #B1CDF0;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem; }
      body .header .barraTop img, body .header .barraMenu img {
        height: 1.5rem; }
    body .header .barraMenu {
      background-color: #011C43;
      font-family: "Rubik", sans-serif; }
      body .header .barraMenu .logo {
        height: 5rem; }
      body .header .barraMenu nav {
        padding: 0.2rem; }
        body .header .barraMenu nav ul {
          list-style: none;
          text-align: center; }
          body .header .barraMenu nav ul li {
            display: inline-block;
            font-size: 1rem;
            padding: 0.1rem;
            margin: 0.1rem;
            background-color: #011C43; }
          body .header .barraMenu nav ul li:hover {
            background-color: #B1CDF0;
            transform: scale(1.05);
            border-radius: 0.5rem; }
  body .main-b {
    background-color: #B1CDF0; }
  body .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "mainText mainText animacion" "img-1 img-2 img-3";
    font-family: "Rubik", sans-serif;
    background-color: #B1CDF0;
    justify-items: center;
    align-items: center; }
    @media (max-width: 480px) {
      body .main {
        grid-template-columns: 1fr;
        grid-template-areas: "mainText" "animacion" "img-1" "img-2" "img-3"; } }
    @media (min-width: 480px) and (max-width: 600px) {
      body .main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "mainText mainText animacion" "img-1 img-2 img-3"; } }
    body .main .mainText {
      grid-area: mainText;
      text-align: left;
      padding: 2rem;
      line-height: 200%; }
      @media (max-width: 480px) {
        body .main .mainText {
          text-align: center; } }
      @media (min-width: 480px) and (max-width: 600px) {
        body .main .mainText {
          text-align: center; } }
      body .main .mainText h1 {
        font-size: 2.2rem; }
      body .main .mainText p {
        font-size: 1.3rem; }
    body .main .animacion {
      grid-area: animacion;
      max-width: 100%;
      animation-name: myweb;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }

@keyframes myweb {
  from {
    transform: scale(0.8); }
  to {
    transform: scale(0.9); } }
      @media (max-width: 480px) {
        body .main .animacion {
          display: none; } }
    body .main .img-1, body .main .img-2, body .main .img-3 {
      grid-area: img-1;
      max-width: 80%;
      padding: 1rem; }
    body .main .img-2 {
      grid-area: img-2; }
    body .main .img-3 {
      grid-area: img-3; }
  body .mainVideo {
    /*Estilo main con video*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "mainTextVideo video";
    font-family: "Rubik", sans-serif;
    background-color: #99bfee;
    justify-items: center;
    align-items: center; }
    @media (max-width: 480px) {
      body .mainVideo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "mainTextVideo" "video"; } }
    @media (min-width: 480px) and (max-width: 600px) {
      body .mainVideo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "mainTextVideo" "video"; } }
    body .mainVideo .video {
      grid-area: video;
      width: 100%;
      padding: 2rem; }
    body .mainVideo .mainTextVideo {
      grid-area: mainTextVideo;
      text-align: left;
      padding: 2rem;
      line-height: 200%; }
      body .mainVideo .mainTextVideo h1 {
        font-size: 2.2rem; }
      body .mainVideo .mainTextVideo p {
        font-size: 1.3rem; }
  body .mainSoloText {
    /*main solo texto*/
    font-family: "Rubik", sans-serif;
    background-color: #99bfee;
    text-align: center; }
    body .mainSoloText .soloText {
      padding: 2rem;
      line-height: 200%; }
      body .mainSoloText .soloText h1 {
        font-size: 2.2rem; }
      body .mainSoloText .soloText p {
        font-size: 1.3rem; }
  body .section {
    /*estilos del section*/
    background-color: #011C43;
    display: flex;
    font-family: "Rubik", sans-serif;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center; }
    body .section h2 {
      font-family: "Rubik", sans-serif;
      font-size: 4rem;
      border-top: 0.01rem solid  white;
      padding-top: 3rem; }
    body .section h3 {
      border-bottom: 0.01rem solid  white;
      padding-bottom: 3rem; }
    body .section ol {
      font-size: 1rem;
      list-style: none;
      line-height: 2rem;
      margin-top: 2rem;
      text-align: center;
      padding-left: 0; }
    body .section .imgRedes {
      margin: 1rem;
      gap: 1rem;
      justify-content: center; }
      body .section .imgRedes img {
        height: 1rem; }
  body .footer {
    /*propiedades del footer*/
    background-color: #99bfee;
    grid-area: footer;
    display: flex;
    font-family: "Rubik", sans-serif;
    font-size: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: flex-end; }
    body .footer .whatsapp {
      position: fixed;
      bottom: 2rem;
      right: 2rem; }
      body .footer .whatsapp img {
        width: 3rem;
        height: 3rem; }
